*{
    margin: 0px;
    padding: 0px;
}
#grey{
    height: 100px;
    width:100px;
    background-color:gray;
}
#blue{
    height: 100px;
    width:100px;
    background-color:blue;

}#white{
    height: 100px;
    width:100px;
    background-color:white;

    border:2px solid black
}#purple{
    height: 100px;
    width:100px;
    background-color:purple;
}
.box{
    display: flex;
    justify-content: space-around;
}